.create-vibe-page {
  position: relative;
  width: 100%;
  float: left;
  height: 100%;
  text-align: left;
}
.create-vibe-page .title {
  font-size: 25px;
  font-weight: 300;
  color: #03a9f4;
  margin-bottom: 20px;
  text-transform: capitalize;
  text-align: center;
}
.form-group label {
  margin-bottom: 5px;
  color: #666;
  font-weight: 400;
  font-size: 13px;
}
.form-control {
  color: #666;
  border: 1px solid #cbcbcb;
  border-radius: 0;
  -webkit-border-radius: 0;
  background-color: #fff;
  box-shadow: none;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 13px;
}
.user-profile-box {
  width: 50%;
  margin: auto;
}
.has-feedback {
  position: relative;
}
.has-feedback .form-control {
  padding-right: 42.5px;
}
.redtext {
  color: #ee0a05!important;
  font-size: 15px;
}
.input-group {
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  display: table;
  border-collapse: separate;
}
.input-group .form-control {
  position: relative;
  z-index: 2;
  float: left;
  width: 100%;
  margin-bottom: 0;
  display: table-cell;
}
.input-group-btn {
  position: relative;
  font-size: 0;
  white-space: nowrap;
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
  display: table-cell;
}
button.btn.btn-default {
  border-width: 1px;
  color: #666;
  background: 0 0;
  border-color: #d6d6d6;
}
.input-group-btn .btn {
  position: relative;
  padding: 6px 12px;
  border-radius: 0px;
  cursor: pointer;
}
.input-group-btn:last-child>.btn {
  z-index: 2;
  margin-left: -1px;
}
.input-group-btn .btn:hover {
  transform: translateY(0px); 
  -webkit-transform: translateY(0px); 
}
.btn-toolbar {
  display: inline-block;
  margin-left: -5px;
}
.btn-toolbar .btn-group {
  margin-left: 5px;
  float: left;
}
.btn-group, .btn-group-vertical {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}
.btn-toolbar .btn-group .btn {
  padding: 6px 12px;
  border-radius: 0px;
  cursor: pointer;
}
.btn-toolbar .btn-group .btn:hover {
  transform: translateY(0px); 
  -webkit-transform: translateY(0px); 
}
textarea {
  height: auto !important;
}
select.form-control {
  padding: 6px 12px;
  height: 34px !important;
  border-radius: 0px;
}
.next-btn {
  background: none;
  border-radius: 0px;
  border: none;
  color: #0275d8;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 300;
}
.width-100 {
  width: 100% !important;
}
.table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {
  border: 1px solid #ddd;
  padding: 8px
}
.table-bordered>tbody>tr>th {
  text-align: left;
  font-weight: 400;
  font-size: 14px; 
  color: #666;
}
.reverse-btn {
  text-align: center;
}
.reverse-btn .btn {
  background: none;
  border-radius: 0px;
  color: #03a9f4;
}

    /*******************************************************
    Slider B-flat
    *******************************************************/

    .checkbox-slider--b-flat {
      position: relative;
    }

    .checkbox-slider--b-flat input {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      width: 0%;
      height: 0%;
      margin: 0 0;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
    }

    .checkbox-slider--b-flat input+span {
      cursor: pointer;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }

    .checkbox-slider--b-flat input+span:before {
      position: absolute;
      left: 0px;
      display: inline-block;
    }

    .checkbox-slider--b-flat input+span>h4 {
      display: inline;
    }

    .checkbox-slider--b-flat input+span {
      padding-left: 40px;
    }

    .checkbox-slider--b-flat input+span:before {
      content: "";
      height: 20px;
      width: 40px;
      background: rgba(100, 100, 100, 0.2);
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.8);
      transition: background 0.2s ease-out;
    }

    .checkbox-slider--b-flat input+span:after {
      width: 20px;
      height: 20px;
      position: absolute;
      left: 0px;
      top: 0;
      display: block;
      background: #ffffff;
      transition: margin-left 0.1s ease-in-out;
      text-align: center;
      font-weight: bold;
      content: "";
    }

    .checkbox-slider--b-flat input:checked+span:after {
      margin-left: 20px;
      content: "";
    }

    .checkbox-slider--b-flat input:checked+span:before {
      transition: background 0.2s ease-in;
    }

    .checkbox-slider--b-flat input+span {
      padding-left: 40px;
    }

    .checkbox-slider--b-flat input+span:before {
      border-radius: 20px;
      width: 40px;
    }

    .checkbox-slider--b-flat input+span:after {
      background: #ffffff;
      content: "";
      width: 20px;
      border: solid transparent 2px;
      background-clip: padding-box;
      border-radius: 20px;
    }

    .checkbox-slider--b-flat input:not(:checked)+span:after {
      -webkit-animation: popOut ease-in 0.3s normal;
      animation: popOut ease-in 0.3s normal;
    }

    .checkbox-slider--b-flat input:checked+span:after {
      content: "";
      margin-left: 20px;
      border: solid transparent 2px;
      background-clip: padding-box;
      -webkit-animation: popIn ease-in 0.3s normal;
      animation: popIn ease-in 0.3s normal;
    }

    .checkbox-slider--b-flat input:checked+span:before {
      /*background: #5cb85c;*/
      background: #03a9f4;
    }

    .checkbox-slider--b-flat.checkbox-slider-md input+span:before {
      border-radius: 30px;
    }

    .checkbox-slider--b-flat.checkbox-slider-md input+span:after {
      border-radius: 30px;
    }

    .checkbox-slider--b-flat.checkbox-slider-lg input+span:before {
      border-radius: 40px;
    }

    .checkbox-slider--b-flat.checkbox-slider-lg input+span:after {
      border-radius: 40px;
    }

    .checkbox-slider--b-flat input+span:before {
      box-shadow: none;
    }


    /*#####*/

    .checkbox-slider-info.checkbox-slider--b input:checked+span:before,
    .checkbox-slider-info.checkbox-slider--b-flat input:checked+span:before,
    .checkbox-slider-info.checkbox-slider--c input:checked+span:before,
    .checkbox-slider-info.checkbox-slider--c-weight input:checked+span:before {
      background: #5bc0de;
    }

    .checkbox-slider-warning.checkbox-slider--b input:checked+span:before,
    .checkbox-slider-warning.checkbox-slider--b-flat input:checked+span:before,
    .checkbox-slider-warning.checkbox-slider--c input:checked+span:before,
    .checkbox-slider-warning.checkbox-slider--c-weight input:checked+span:before {
      background: #f0ad4e;
    }

    .checkbox-slider-danger.checkbox-slider--b input:checked+span:before,
    .checkbox-slider-danger.checkbox-slider--b-flat input:checked+span:before,
    .checkbox-slider-danger.checkbox-slider--c input:checked+span:before,
    .checkbox-slider-danger.checkbox-slider--c-weight input:checked+span:before {
      background: #d9534f;
    }




    /*******************************************************
    Sizes
    *******************************************************/

    .checkbox-slider-md {
      line-height: 30px;
    }

    .checkbox-slider-md input+span {
      padding-left: 70px;
    }

    .checkbox-slider-md input+span:before {
      width: 60px;
    }

    .checkbox-slider-md input+span:after,
    .checkbox-slider-md input+span:before {
      height: 30px;
      line-height: 30px;
    }

    .checkbox-slider-md input+span:after {
      width: 30px;
      vertical-align: middle;
    }

    .checkbox-slider-md input:checked+span:after {
      margin-left: 30px;
    }

    .vibe-type {
      background-color: transparent;
      color: #3faee0;
      box-shadow: none;
      font-size: 20px;
    }

    /*All-vibe*/
    .card > .card-body {
      /* padding: 15px 22px; */
      padding: 16px;
      height: 100%;
    }
    .create-vibe-btn {
      text-align: right;
      margin: 0px;
    }
    .no-box-shadow {
      box-shadow: none !important;
    }
    .pull-right {
      float: right!important;
    }
    .card-control{
      width: 100%;
      float: left;
    }
    .card {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      background-color: #fff;
      border: 1px solid rgba(0, 0, 0, 0.125);
      border-radius: 0.25rem;
    }
    .card {
      color: rgba(0, 0, 0, 0.87);
      background-color: white;
      border: 0;
      border-radius: 2px;
      position: relative;
      margin-bottom: 24px;
      box-shadow: none;
    }

    .av-card {
      position: relative;
      width: 32.33%;
      float: left;
      margin: 0px 5px;
    }
    .av-card .card {
      position: relative;
      min-height: 104px;
      padding: 16px 0px 16px 16px;
      margin: 16px 0;
      border: 1px solid #EFEFEF;
      cursor: pointer;
      float: left;
      width: 100%;
      transition: all 0.2s ease-in-out;
    }
    .av-card .card:hover {
      border: 1px solid #EFEFEF;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    }
    .card-block {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto;
      padding: 1.25rem;
    }
    .av-card .card .status-private {
      position: absolute;
      top: 0px;
      background-color: #F05B24;
      color: #fff;
      border-radius: 0 0 3px 3px;
      padding: 2px 5px;
      color: #fff;
      vertical-align: top;
      font-size: 13px;
      font-weight: 500;
    }
    .av-card .card .heading {
      float: left;
      width: 100%;
    }
    .av-card .card .heading .title {
      margin-top: 12px;
      margin-bottom: 5px;
      width: 100%;
      font-size: 16px;
      font-weight: 500;
      color: #333E48;
    }
    .av-card .card .heading .sub-title {
      font-size: 13px;
      color: #6B787F;
    }
    .av-card .card .heading .sub-title {
      font-size: 13px;
      color: #6B787F;
    }
    .av-card .card .show-on-hover {
      display: none;
    }
    .av-card .card .heading .desc span {
      word-wrap: break-word;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      height: 32px;
    }
    .av-card .card .heading .sub-title span {
      padding-right: 5px;
      width: 100%;
      float: left;
    }
    .av-card .card .status-public {
      position: absolute;
      top: 0px;
      background-color: #0747a6;
      color: #fff;
      border-radius: 0 0 3px 3px;
      padding: 2px 5px;
      color: #fff;
      vertical-align: top;
      font-size: 13px;
      font-weight: 500;
    }
    .av-card .card:hover .hide-on-hover {
      display: none;
    }
    .av-card .card .data {
      float: left;
      margin: 0px;
      padding: 0px;
    }
    .av-card .card:hover .show-on-hover {
      display: inherit;
    }
    .av-card .card .action {
      float: left;
      position: relative;
      margin: 0px;
      padding: 0px;
    }
    .av-card .card .show-on-hover {
      display: none;
    }
    .av-card .card:hover {
      border: 1px solid #EFEFEF;
      box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 1px 5px 0 rgba(0, 0, 0, 0.1);
    }
    .av-card .card .action li {
      display: inline-block;
      height: 68px;
      width: 100px;
      padding-top: 8px;
      text-align: center;
      color: #6B787F;
      vertical-align: top;
    }
    .av-card .card .action li span {
      display: block;
      margin-bottom: 6px;
      margin-top: 3px;
      font-size: 30px;
      font-weight: 300;
      color: #03a9f4;
    }
    .av-card .card .data li:last-child {
      border: none;
    }
    .av-card .card .data li {
      display: inline-block;
      border-right: 1px solid #D0D2D3;
      height: 68px;
      width: 100px;
      padding-top: 8px;
      font-size: 13px;
      font-weight: 400;
      color: #6B787F;
      text-align: center;
      vertical-align: top;
    }
    .av-card .card .data li span {
    display: block;
    margin-bottom: 6px;
    margin-top: 3px;
    font-size: 18px;
    font-weight: 300;
    color: #333E48;
}
    .btn.btn-primary{
      background: #03a9f4 !important;
      border-color: #03a9f4 !important;
      color: #fff;
    }

    /*end all vibe*/