/*!
 * Owner: SL Product Demo v1.0 (http://sproutlogix.com)
 * Author: Dhanaji Patil and Chirag Sadvilkar
 */
 body {
  font-family: 'Avenir','Source Sans Pro', sans-serif;
  color: #000;
  background-color: #fff;
}
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  line-height: 1.5em;
}
a {
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
a:hover {
  text-decoration: none;
}
a.light-link {
  color: #fff;
  opacity: 0.8;
}
a.light-link:hover {
  opacity: 1;
}
strong {
  font-weight: 600;
}
p {
  font-weight: 300;
}
img {
  max-width: 100%;
}
button {
  font-family: inherit;
}
.mark, mark {
  padding: .2em .5em;
  background-color: #fff200;
}
.blue {
  color: #2361eb;
}
.black {
  color: #000;
}
.add-shadow {
  box-shadow: 0 7px 30px rgba(17, 101, 219, 0.1);
}
.section-title {
  margin: 1rem 0 3rem;
}
.card-body {
  padding: 1.25rem;
}
section.lp-features,
section.lp-stats,
section.lp-products,
section.lp-hiw,
section.testimonial,
section.app-download,
section.prod-features,
section.integrations,
section.contact,
section.faq {
  padding: 3em 0;
  margin-bottom: 2em;
}
.alt-bg {
  background-color: #eef7fd;
}

.al-sidebar {
    width: 180px;
    top: 57px;
    left: 0;
    z-index: 100;
    display: block;
    min-height: 100%;
    background-color: #424242;
    height: 100%;
    position: fixed;
    box-shadow: 0px 0px 1px #808080;
}
.slimScrollDiv {
  position: relative;
  overflow: hidden;
  width: auto;
  height: auto;
}
.al-sidebar-list {
    margin: 0;
    overflow: hidden;
    padding: 18px 0 0 0;
    list-style: none;
}
.al-sidebar-list-item {
    display: block;
    position: relative;
    float: none;
    padding: 0;
}
a.al-sidebar-list-link {
    display: block;
    height: 42px;
    padding-left: 18px;
    text-shadow: none;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
    line-height: 42px;
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
}
a.al-sidebar-list-link i {
    margin-right: 18px;
    width: 16px;
    display: inline-block;
    font-size: 20px;
    float: left;
}
a.al-sidebar-list-link span {
    float: left;
}
a.al-sidebar-list-link:hover {
    color: #35afea;
}
.al-main {
    margin-left: 180px;
    padding: 66px 0 34px 0;
    min-height: 500px;
    position: relative;
}
.al-content {
    padding: 8px 32px 8px 40px;
    float: left;
    width: 100%;
    height: 100%;
}
/* Buttons */
.btn {
  font-weight: 300;
  /*border: none;*/
  padding: .6rem 1.8rem;
  border-radius: 3px;
}
.btn:hover {
  transform: translateY(-2px);
  -webkit-transform: translateY(-2px);
}
.btn-lg {
  font-size: 1.1em;
  padding: 1rem 3.6rem;
  font-weight: 400;
}
.btn-primary {
  background-color: #098aff;
  background: -webkit-gradient(linear, left top, right top, from(#098aff), to(#0a60d9));
  background: -webkit-linear-gradient(left, #0a60d9, #098aff);
  background: -moz-linear-gradient(left, #0a60d9, #098aff);
  background: -ms-linear-gradient(left, #0a60d9, #098aff);
  background: -o-linear-gradient(left, #0a60d9, #098aff);
  color: #fff;
  border: none;
}
.btn-primary:hover,
.btn-primary:focus {
  outline: none;
}
.btn-outline-primary {
  color: #01579b;
  background-image: none;
  background-color: transparent;
  border-color: #01579b;
}
.btn-outline-primary:hover {
  background-color: #01579b;
}
.btn-secondary {
  color: #01579b;
  background-color: #fff;
  border-color: transparent;
}
select.form-control,
.form-control {
  font-family: inherit;
  padding: .75rem 1rem;
  border-radius: 3px;
}
select.form-control:not([size]):not([multiple]) {
  height: calc(2.50rem + 6px);
}


/* Top Navigation */
.navbar {
  padding: .4rem 1rem;
}
.navbar-brand {
  margin-right: 3rem;
  padding-top: 0rem;
  padding-bottom: 0rem;
}
.navbar-brand img {
  max-width: 110px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open>.nav-link {
  color: #098aff;
}

ul.sub-menu {
  margin: 0;
  padding: 0;
  width: 100%;
  list-style: none;
  background-color: #f9fbfd;
  border-top: 1px solid rgba(0, 0, 0, .1);
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}
ul.sub-menu li {
  padding: .7rem 2rem;
  /*border-left: 1px solid rgba(0, 0, 0, .1);*/
  border-bottom: 3px solid transparent;
}
ul.sub-menu li:last-child {
  /*border-right: 1px solid rgba(0, 0, 0, .1);*/
}
ul.sub-menu li a {
  font-size: .9rem;
  color: #000;
  font-weight: 300;
}
ul.sub-menu li.active {
  color: #000;
  font-weight: 300;
  border-bottom-color: #098aff;
}
ul.sub-menu li a:hover, ul.sub-menu li a.active {
  color: #098aff;
  text-decoration: none;
}


/* Hero Section */
.hero {
  background: url(../assets/background.png) no-repeat center center #fff;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 4em;
  padding-bottom: 10em;
  color: #fff;
}
.hero h1,
.hero-product h1 {
  margin-bottom: 1em;
}
.hero h5,
.hero-product h5 {
  margin-bottom: 2em;
}
.hero img.hero-illustration {
  max-width: 90%;
}

.hero-product {
  background-color: #fff;
  padding-top: 4em;
  padding-bottom: 5em;
}
.hero-product .product-logo {
  max-width: 200px;
  margin-bottom: 1em;
}

/* Clent list */
ul.clientel {
  margin: 0;
  padding: 1.2rem 1.6rem;
  background: #fff;
  border-radius: 10px;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
ul.clientel li {
  list-style: none;
  padding: 10px;
}
ul.clientel li img {
  max-width: 100%;
}

/* Landing Page: Features */
.lp-features .feature-item img {
  max-width: 40%;
  margin-bottom: 2rem;
}
.lp-features .feature-item {
  padding-top: 2rem;
  padding-bottom: 2rem;
  border-radius: 10px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
.lp-features .feature-item:hover {
  transform: translateY(-10px);
  -webkit-transform: translateY(-10px);
  box-shadow: 0 7px 30px rgba(17, 101, 219, 0.1);
}
.lp-features .feature-item:hover img {
  box-shadow: 0 7px 30px rgba(17, 101, 219, 0.2);
}

/* Landing Page: Stats */
.lp-stats .stat-item img {
  max-width: 80%;
  margin-bottom: 2rem;
}

/* Landing Page: Products */
.lp-products .product-item img.product-creative {
  max-width: 100%;
}
.lp-products .product-item {
  margin-bottom: 1em;
}

/* Landing Page: How it works */
.hiw-item {
  border-radius: 10px;
  background-color: #fff;
}
.hiw-item ul {
  list-style: none;
  display: inline-flex;
  margin: 0;
  padding: 0;
}
.hiw-item ul li h1 {
  color: #dde4ed;
  margin: 0 1rem 0 0;
  font-size: 3.5rem;
  line-height: normal;
}
.hiw-item ul li img {
  width: 60px;
}

/* Landing Page: Testimonial */
.testimonial img.user-avatar {
  max-width: 60%;
}

/* Call to action */
section.ce-cta {
  background-color: #098aff;
  background: -webkit-gradient(linear, left top, right top, from(#098aff), to(#0a60d9));
  background: -webkit-linear-gradient(left, #0a60d9, #098aff);
  background: -moz-linear-gradient(left, #0a60d9, #098aff);
  background: -ms-linear-gradient(left, #0a60d9, #098aff);
  background: -o-linear-gradient(left, #0a60d9, #098aff);
  padding: 3em 0;
  color: #fff;
}
.rw-words{
  display: inline;
  text-indent: 10px;
}
.rw-words-1 span{
  position: absolute;
  opacity: 0;
  overflow: hidden;
  color: #fff;
  font-weight: bold;
  -webkit-animation: rotateWord 18s linear infinite 0s;
  -ms-animation: rotateWord 18s linear infinite 0s;
  animation: rotateWord 18s linear infinite 0s;
}
.rw-words-1 span:nth-child(2) { 
  -webkit-animation-delay: 3s; 
  -ms-animation-delay: 3s; 
  animation-delay: 3s;
}
.rw-words-1 span:nth-child(3) { 
  -webkit-animation-delay: 6s; 
  -ms-animation-delay: 6s; 
  animation-delay: 6s;
}
.rw-words-1 span:nth-child(4) { 
  -webkit-animation-delay: 9s; 
  -ms-animation-delay: 9s; 
  animation-delay: 9s;
}
.rw-words-1 span:nth-child(5) { 
  -webkit-animation-delay: 12s; 
  -ms-animation-delay: 12s; 
  animation-delay: 12s;
}
.rw-words-1 span:nth-child(6) { 
  -webkit-animation-delay: 15s; 
  -ms-animation-delay: 15s; 
  animation-delay: 15s;
}
@-webkit-keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -webkit-transform: translateY(-30px); }
  5% { opacity: 1; -webkit-transform: translateY(0px);}
  17% { opacity: 1; -webkit-transform: translateY(0px); }
  20% { opacity: 0; -webkit-transform: translateY(30px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -ms-transform: translateY(-30px); }
  5% { opacity: 1; -ms-transform: translateY(0px);}
  17% { opacity: 1; -ms-transform: translateY(0px); }
  20% { opacity: 0; -ms-transform: translateY(30px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}
@keyframes rotateWord {
  0% { opacity: 0; }
  2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
  5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
  17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
  20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
  80% { opacity: 0; }
  100% { opacity: 0; }
}


/* App Download Section*/
.app-download h2 {
  margin-bottom: 3rem;
}
ul.dwn-badges {
  margin: 0;
  padding: 0;
  list-style: none;
  display: inline-flex;
}
ul.dwn-badges li {
  padding-right: 1rem;
}
ul.dwn-badges li img {
  max-width: 128px;
}
ul.dwn-badges li a {
  opacity: .8;
}
ul.dwn-badges li a:hover {
  opacity: 1;
}
.app-download img.app-mockup {
  max-width: 70%;
}

/* Product Sub-features */
.prod-feature-item img {
  max-width: 60px;
  margin-bottom: 2rem;
}

/* Integrations */
.integrations .cavis-slack {
  max-width: 80%;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

/* Contact */
section.contact {
  background-color: #098aff;
  background: -webkit-gradient(linear, left top, right top, from(#098aff), to(#0a60d9));
  background: -webkit-linear-gradient(left, #0a60d9, #098aff);
  background: -moz-linear-gradient(left, #0a60d9, #098aff);
  background: -ms-linear-gradient(left, #0a60d9, #098aff);
  background: -o-linear-gradient(left, #0a60d9, #098aff);
  color: #fff;
  padding-bottom: 9rem;
}
section.contact h1 {
  margin-bottom: 2rem;
}
section.contact ul.avatars {
  margin: 0;
  padding: 0;
  display: inline-flex;
  list-style: none;
}
section.contact ul.avatars li img {
  max-width: 72px;
  border-radius: 10rem;
  box-shadow: 0 7px 30px rgba(17, 101, 219, 0.2);
}
.boxit {
  padding-top: 2rem;
  padding-bottom: 2rem;
  transform: translateY(-8rem);
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 7px 30px rgba(17, 101, 219, 0.2);
  margin-bottom: -5rem;
}

/* Sitemap */
.site-map-control {
  position: relative;
}
.site-map-control ul {
    margin: 0;
    padding: 0;
}
ul.sitemap-menu {
    list-style: none;
    font-size: .9rem;
    font-weight: 300;
}
ul.sitemap-menu li {
    margin-bottom: 1rem;
}
ul.sitemap-menu li a {
    color: #01579b;
}
.p-bt-6 {
  padding-bottom: 6rem !important;
}
.p-lt-rt-5 {
  padding-left: 5rem;
  padding-right: 5rem;
}

.privacy-page li {
  font-weight: 300;
}

/* Login */
.login-form {
  padding: 3rem 3rem;
  border-radius: 0px;
  background-color: #fff;
  color: #000;
}
.sign {
  padding: 5rem 0;
  background-color: #098aff;
  background: -webkit-gradient(linear, left top, right top, from(#098aff), to(#0a60d9));
  background: -webkit-linear-gradient(left, #0a60d9, #098aff);
  background: -moz-linear-gradient(left, #0a60d9, #098aff);
  background: -ms-linear-gradient(left, #0a60d9, #098aff);
  background: -o-linear-gradient(left, #0a60d9, #098aff);
  color: #fff;
}

.signup-feature img {
  max-width: 50px;
}

.product-logo {
  width: 100%;
  position: relative;
}
.product-logo span {
  margin: 0px 7px;
  display: inline-block;
  font-size: 12px;
  text-align: center;
  color: #0275d8;
}
.product-logo img {
  width: 50px;
}

/* common login form */
body.common-login-page {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}
body.dashboard {
  font-family: Avenir,'Source Sans Pro',sans-serif;
  font-weight: 400;
}
.top-bar {
  box-shadow: -2px 0px 3px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0px;
  z-index: 100;
  width: 100%;
  background: #fff;
}
.common-login-page ul.nav {
  width: 100%;
}
.common-login-page ul.nav li.nav-item {
  float: right;
}
.common-login-page .content-logo-box {
  text-align: left;
  width: 100%;
  float: left;
  margin-bottom: 0px;
}
.common-login-page .sign {
  padding: 3.4rem 0rem 1.2rem 0rem;
  position: relative;
  background: #b2d245;
}
.dashboard .product-page {
  padding: 0rem 0rem 0rem 0rem;
  position: relative;
  background: #fff;
  margin-top: 100px;
}
.common-login-page .white-bg {
  position: absolute;
  top: 0px;
  left: 0px;
  background: #fff;
  width: 100%;
  height: 60vh;
  border-bottom: 5px solid #287cb9;
}
.common-login-page .add-shadow {
  box-shadow: 0 7px 30px rgba(0, 0, 0, 0.3);
}
.common-login-page .sign .top {
  float: left;
  width: 100%;
  padding: 40px 40px 40px 0px;
}
.common-login-page .sign .bottom {
  float: left;
  width: 100%;
  padding: 40px 0px;
}
.common-login-page .sign h2{ 
  color: #424242;
  font-size: 40px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  float: left;
  width: 100%;
  font-style: italic;
  margin-bottom: 0px;
}

.common-login-page .sign h3{ 
  color: #fff;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  float: left;
  width: 100%;
}
.common-login-page .sign .form-title {
  color: #000;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  float: none;
  width: auto;
}
.common-login-page .sign .form-control {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  border-bottom: 1px solid rgba(0,0,0,.15);
  border-left: none;
  border-right: none;
  border-top: none;
  padding: .75rem 0rem;
  border-radius: 0px;
}
.common-login-page .sign .form-check-label {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  padding: 0rem 0rem;
  font-size: 18px;
}
.common-login-page .sign .form-check-label small, .common-login-page .sign small {
  font-weight: 300;
}
.common-login-page .sign .login-btn {
  background: none;
  border-radius: 0px;
  border: none;
  color: #0275d8;
  font-weight: 400;
  font-size: 25px;
  cursor: pointer;
}
.common-login-page .sign .login-btn:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.user-profile {
  float: right;
  padding: 0;
  width: 100%;
  height: 45px;
  border: 0;
  opacity: 1;
  position: relative;
  text-align: right;
}
.user-profile img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  border: 1px solid #ddd;
}
.user-profile span {
  height: 45px;
  display: inline-block;
  line-height: 45px;
  padding-right: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 14px;
}

.product-image {
  overflow: hidden;
  width: 100%; 
  height: 300px; 
  border-radius: 21px 21px 0 0;
}
.product-box {
  transform: translateY(50px);
  -webkit-transform: translateY(50px);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}
.product-box:hover {
  transform: translateY(0px);
  -webkit-transform: translateY(0px);
}
/* Pricing */
section.pricing {
  padding-top: 3rem;
  padding-bottom: 8rem;
  background-color: #098aff;
  background: -webkit-gradient(linear, left top, right top, from(#098aff), to(#0a60d9));
  background: -webkit-linear-gradient(left, #0a60d9, #098aff);
  background: -moz-linear-gradient(left, #0a60d9, #098aff);
  background: -ms-linear-gradient(left, #0a60d9, #098aff);
  background: -o-linear-gradient(left, #0a60d9, #098aff);
  color: #fff;
}
section.pricing h1 {
  margin-bottom: 2rem;
}
section.pricing h1.amount {
  font-size: 4rem;
}
.pricing-table {
  margin-bottom: 2rem;
  transform: translateY(-6rem);
}
.pricing-table .card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 7px 30px rgba(17, 101, 219, 0.2);
  border: none;
  padding: 2rem 0 3rem;
}
.pricing-table .card.bg-loop {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  z-index: 99;
  border-radius: 10px !important;
  border: 1px solid #0275d8;
  background: -moz-linear-gradient(45deg, rgba(239,239,239,1) 0%, rgba(255,255,255,1) 100%); /* ff3.6+ */
background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(239,239,239,1)), color-stop(100%, rgba(255,255,255,1))); /* safari4+,chrome */
background: -webkit-linear-gradient(45deg, rgba(239,239,239,1) 0%, rgba(255,255,255,1) 100%); /* safari5.1+,chrome10+ */
background: -o-linear-gradient(45deg, rgba(239,239,239,1) 0%, rgba(255,255,255,1) 100%); /* opera 11.10+ */
background: -ms-linear-gradient(45deg, rgba(239,239,239,1) 0%, rgba(255,255,255,1) 100%); /* ie10+ */
background: linear-gradient(45deg, rgba(239,239,239,1) 0%, rgba(255,255,255,1) 100%); /* w3c */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#efefef',GradientType=1 ); /* ie6-9 */
}
.pricing-table .card h1.price {
  margin: 3rem 0 0;
  font-size: 3.4rem;
  color: #098aff;
}
.pricing-features h1 {
  font-size: 4rem;
}

/* Footer */
footer.footer {
  padding: 1rem 0;
}
footer p {
  margin: 0;
  font-size: 1rem;
}
a.footer-logo img {
  max-width: 100px;
}
footer ul {
  margin: 0;
  padding: 0;
}
ul.social-list li {
  list-style: none;
  display: inline-block;
}
ul.social-list li a img {
  margin-left: .5em;
  max-width: 28px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
ul.social-list li a:hover img {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}
ul.footer-menu {
  list-style: none;
  font-size: .9rem;
  font-weight: 300;
}
ul.footer-menu li {
  margin-bottom: 1rem;
}
ul.footer-menu li a {
  color: #01579b;
}
footer.sub-footer {
  background: #b2d245;
  padding: 1rem 0;
  color: #fff;
  font-size: .8rem;
  position: relative;
  z-index: 1;
}

.bg-dark {
  background-color: #343a40 !important;
}
.bg-dark-blue {
  background-color: #10426d !important;
}
.bg-light {
  background-color: #f8f9fa !important;
}
.text-black { 
  color: #000 !important;
}

.flex-equal > * {
  -ms-flex: 1;
  -webkit-box-flex: 1;
  flex: 1;
}
/*Product demo Style*/
.dashboard .modal-open .modal {
  overflow-x: hidden;
  overflow-y: hidden;
}
.dashboard .modal-header{
  padding: 3px 10px;
}
.dashboard .modal-footer{
  padding: 3px 10px;
}
.dashboard .modal-body{
  overflow-y: scroll;
  height: 83vh;
  padding: 5px 15px;
  text-align: center;
}
.btn-group-sm>.btn, .btn-sm{
  cursor: pointer;
}
.video-section{
  text-align: center;
}
.client-section{
  text-align: center;
  background-color: #f1f1f1;
}
.blue-text {
    color: #2196f3!important;
}
.no-p {
  padding: 0px !important;
}
.plr-35 {
  padding: 0px 35px;
}
.no-m {
  margin: 0px !important; 
}
.mt-10 {
  margin-bottom: 10px;
}
.mb-20 {
  margin-bottom: 20px; 
}
@media (min-width: 992px){
  .modal-lg {
    max-width: 1200px;

  }
}
/*End Product demo style*/
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    -webkit-box-flex: 1;
    flex: 1;
  }
}

@media (min-width: 992px) {
  .navbar-toggleable-md .navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
  }
}


@media (max-width: 576px) {
  .hero img.hero-ill {
    max-width: 100%;
  }
  #skewBg {
    margin-bottom: 5em;
  }
  #skewBg > .container > .row h4 {
    line-height: 1.5em;
    font-size: 1.2em;
  }
  .when-where {
    padding-bottom: 10em;
  }
  .register .col-md-7 {
    text-align: center;
  }
  .register h2 {
    line-height: 1.5em;
    font-size: 1.5em;
  }
  .faq .card {
    margin-bottom: 20px;
  }
  .footer .col-md-4 {
    text-align: center !important;
    margin-bottom: 20px;
  }
  ul.social-list li:first-child > a > img {
    margin-left: 0;
  }
}








































