/* New Vibe Css */
.thank-you-screen .thank-you-box .go-to-analytics{
    position: relative;
    width: 100%;
    text-align: center;
    color: #098aff;
    font-size: 20px;
    line-height: 40px;
    margin-top: 100px;
    margin-bottom: 50px;
    font-weight: 300;
    cursor: pointer;
}
.capture-vibe {
  position: relative;
  width: 50%;
  padding: 20px 60px 80px 60px;
  margin: 0px auto;
  background: #fff;
  text-align: center;
  min-height: 100vh;
  height: auto;
  border-top: 7px solid #000;
  box-shadow: 0px 0px 10px #737373;
}
.capture-vibe .capture-vibe-screen {
  position: relative;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.capture-vibe .capture-vibe-screen   .smiley-box {
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
}
.capture-vibe .capture-vibe-screen .smiley-box:hover {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.company-logo {
  position: relative;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
.company-logo img {
  max-height: 100px;
}
.company-logo img.logo-horizontal {
  max-width: 200px;
}
.company-logo img.logo-vertical {
  max-height: 100px;
}
.company-logo img.logo-square {
  max-width: 100px;
}

.title {
  color: #424242;
  font-size: 30px;
  font-weight: 300;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
  line-height: 40px;
}
.sub-title {
  color: #424242;
  font-weight: 300;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
.question {
  color: #424242;
  font-size: 18px;
  font-weight: 300;
  width: 100%;
  text-align: center;
  margin-bottom: 100px;
  line-height: 25px;
}

.mood-question-screen {
  position: relative;
  width: 100%;
  padding: 0px;
  margin: 0px 0px 0px 0px;
}
.mood-question-screen .smiley-box {
  margin-top: 30px;
}
.mood-question-screen .smiley-box .smiley { 
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
.mood-question-screen .smiley-box .smiley :hover {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
.mood-question-screen .smiley-box .text {
  margin-top: 80px;
}
.mood-question-screen .mood-question-box {
  position: relative;
  width: 100%;
  padding: 0px;
  margin: 30px 0px 0px 0px;
}
.mood-question-screen .mood-question-box .mood-question-section {
  position: relative;
}
.mood-question-screen .mood-question-box .question-text {
  color: #424242;
  font-size: 18px;
  font-weight: 300;
  width: 100%;
  text-align: center;
  line-height: 25px;
}




.footer {
  position: absolute;
  width: 100%;
  text-align: center;
  font-size: 12px;
  font-weight: 300;
  margin: 0px auto;
  z-index: 100;
  left: 0px;
  bottom: 0px;
  right: 0px;
  padding: 10px 0px;
}
.footer  img {
  max-height: 30px;
}
.footer  img.logo-horizontal {
  max-width: 75px;
}
.footer img.logo-vertical {
  max-height: 30px;
}
.footer img.logo-square {
  max-width: 30px;
}

.nasted-question-screen {
  position: relative;
  width: 100%;
  padding: 0px;
  margin: 0px 0px 0px 0px;
}
.nasted-question-screen .nasted-question-box {
  position: relative;
  width: 100%;
  padding: 0px;
  margin: 0px 0px 0px 0px;
}
.nasted-question-screen .nasted-question-box .nasted-question-section {
  position: relative;
}
.nasted-question-screen .nasted-question-box .question-text {
  color: #424242;
  font-size: 18px;
  font-weight: 300;
  width: 100%;
  text-align: center;
  line-height: 25px;
}  


.relative-question-screen {
  position: relative;
  width: 100%;
  padding: 0px;
  margin: 0px 0px 0px 0px;
}
.relative-question-screen .relative-question-box {
  position: relative;
  width: 100%;
  padding: 0px;
  margin: 50px 0px 0px 0px;
}
.relative-question-screen .relative-question-box .relative-question-section {
  position: relative;
}
.relative-question-screen .relative-question-box .question-text {
  color: #424242;
  font-size: 18px;
  font-weight: 300;
  width: 100%;
  text-align: center;
  line-height: 25px;
}


.thank-you-screen {
  position: relative;
  width: 100%;
  padding: 0px;
  margin: 0px 0px 0px 0px;
}
.thank-you-screen .thank-you-box {
  position: relative;
  width: 100%;
  padding: 0px;
  margin: 50px 0px 0px 0px;
}
.thank-you-screen .thank-you-box .question-text {
  color: #424242;
  font-size: 18px;
  font-weight: 300;
  width: 100%;
  text-align: center;
}
.thank-you-screen .thank-you-box .thank-u-msg {
  position: relative;
  width: 100%;
  text-align: center;
  color: #424242;
  font-size: 30px;
  line-height: 40px;
  margin-top: 100px;
  margin-bottom: 50px;
  font-weight: 300;
}
.thank-you-screen .thank-you-box .thank-u-msg span {
  font-size: 20px;
  color: #424242;
  font-weight: 400;
}
.thank-you-screen .thank-you-box .text {
  color: #424242;
  font-weight: 300;
  margin-bottom: 20px;
  line-height: 25px;
}
.thank-you-screen .thank-you-box textarea {
  -webkit-box-shadow: 0px 0px 10px #949494;
  -moz-box-shadow: 0px 0px 10px #949494;
  -ms-box-shadow: 0px 0px 10px #949494;
  box-shadow: 0px 0px 10px #949494;
  border: none;
  border-radius: 0px;
  width: 90%;
  margin: auto;
}
.thank-you-screen .thank-you-box textarea:focus {
  -webkit-box-shadow: 0px 0px 10px #949494;
  -moz-box-shadow: 0px 0px 10px #949494;
  -ms-box-shadow: 0px 0px 10px #949494;
  box-shadow: 0px 0px 10px #949494;
}
.thank-you-screen .thank-you-box .done-btn {
  background: none !important;
  box-shadow: none;
  border: none;
  border-radius: 0px;
  color: #424242;
  font-weight: 300;
  outline: none;
}    
.thank-you-screen .thank-you-box .done-btn:hover {
  color: #ff9800;
  font-weight: 300;
  cursor: pointer;
}



.already-mood-capture-screen {
  position: relative;
  width: 100%;
  padding: 0px;
  margin: 0px 0px 0px 0px;
}
.already-mood-capture-screen .already-mood-capture .smiley-box {
  margin-top: 150px;
}
.already-mood-capture-screen .already-mood-capture .smiley-box .smiley {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
.already-mood-capture-screen .already-mood-capture .smiley-box .smiley-box .smiley:hover {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}
.already-mood-capture-screen .already-mood-capture .smiley-box .smiley:hover {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);
}      
.already-mood-capture-screen .already-mood-capture .smiley-box .text {
  margin-top: 80px;
  color: #424242;
  font-size: 22px;
  font-weight: 300;
  line-height: 30px;
}      

.already-mood-capture-screen .already-mood-capture {
  position: relative;
  width: 100%;
  padding: 0px;
  margin: 30px 0px 0px 0px;            
}
.already-mood-capture-screen .already-mood-capture .question-text {
  color: #424242;
  font-size: 18px;
  font-weight: 300;
  width: 100%;
  text-align: center;
  line-height: 25px;
}

$color--green: #7ac142;
$curve: cubic-bezier(0.650, 0.000, 0.450, 1.000);

.checkmark__circle {
  stroke-dasharray: 166;
  stroke-dashoffset: 166;
  stroke-width: 5;
  stroke-miterlimit: 10;
  stroke: $color--green;
  fill: none;
  animation: stroke .6s $curve forwards;
}

.checkmark {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  display: block;
  stroke-width: 5;
  stroke: #fff;
  stroke-miterlimit: 10;
  margin: 10% auto;
  box-shadow: inset 0px 0px 0px $color--green;
  animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
  transform-origin: 50% 50%;
  stroke-dasharray: 89, 200;
  stroke-dashoffset: 48;  
  animation: stroke .3s $curve .8s forwards;
}
.checkmark__circle {
    stroke-dasharray: 166;
    stroke-dashoffset: 166;
    stroke-width: 5;
    stroke-miterlimit: 10;
    stroke: #7ac142;
    fill: none;
    -webkit-animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
    animation: stroke 0.6s cubic-bezier(0.65, 0, 0.45, 1) forwards;
}

.checkmark{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    display: block;
    stroke-width: 5;
    stroke: #fff;
    stroke-miterlimit: 10;
    margin: 10% auto;
    box-shadow: inset 0px 0px 0px #7ac142;
    -webkit-animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
    animation: fill .4s ease-in-out .4s forwards, scale .3s ease-in-out .9s both;
}

.checkmark__check {
    -webkit-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    stroke-dasharray: 89, 200;
    stroke-dashoffset: 48;
    -webkit-animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
    animation: stroke 0.3s cubic-bezier(0.65, 0, 0.45, 1) 0.8s forwards;
}
@keyframes stroke {
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes scale {
  0%, 100% {
    transform: none;
  }
  50% {
    transform: scale3d(1.1, 1.1, 1);
  }
}

@keyframes fill {
  100% {
    box-shadow: inset 0px 0px 0px 30px $color--green;
  }
}

.answer {
  position: relative;
  width: 100%;
  padding: 0px;
  margin: 10px 0px 0px 0px;
}
.answer .content {
  position: relative;
  padding: 20px 0px;
  width: 100%;
}

.answer .content ul {
  margin: 0;
  margin-left: 0px;
  display: block;
  outline: none;
  text-align: left;
  margin-bottom:0px;
  padding-left: 0px;
  width: 100%;
  box-shadow: 0px 0px 10px #949494;
}
.answer .content ul li {
  position: relative;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  cursor: pointer;
  margin: 0px;
  list-style: none;
  color: #fff;
  padding: 0px 0px;
  width: 100%;
}

.answer .content ul li input[type=radio], input[type=checkbox] {
  position: absolute;
  opacity: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  margin: 0px;
  cursor: pointer;
  display: block;
}
.answer .content ul li input[type=radio] + label, input[type=checkbox] + label {
  display: inline-block;
  width: 100%;
  margin: 0px;
  padding: 15px 15px 15px 50px;
  margin-bottom: 0;
  font-size: 16px;
  line-height: 20px;
  color: #424242;
  text-align: left;
  vertical-align: middle;
  cursor: pointer;
  background: #fff;
  border: none;
  box-shadow: none;
  font-weight: 300;
  border-bottom: 1px solid #ccc;
}
.answer .content ul li input[type=radio] + label:before, input[type=checkbox] + label:before {
  content: "\f121";
  position: absolute;
  left: 10px;
  font-family: Ionicons;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  z-index: 0;
  font-size: 18px;
  background: #9e9e9e;
  color: #fff;
  padding: 2px 5px;
  top: 12px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
}
.answer .content ul li input[type=radio]:checked + label, input[type=checkbox]:checked + label {
  background: #fff;
  outline: 0;
  color: #424242;
}
.answer .content ul li input[type=radio]:checked + label:before, input[type=checkbox]:checked + label:before {
  content: "\f121";
  background: #ff9800;
}
.answer .content .button-box {
  position: relative;
  margin: 20px 0px 0px 0px;
  width: 100%;
  padding: 0px;
}
.answer .content .button-box .continue-btn {
  background: none !important;
  box-shadow: none;
  border: none;
  border-radius: 0px;
  color: #424242;
  font-weight: 300;
  outline: none;
}
.answer .content .button-box .continue-btn:hover {
  color: #ff9800;
  font-weight: 300;
}
.answer .content .button-box .skip-btn {
  background: none !important;
  box-shadow: none;
  border: none;
  border-radius: 0px;
  color: #9e9e9e;
  font-weight: 300;
  margin-top: 0px;
  font-size: 12px;
  outline: none;
}
.answer .content .button-box .skip-btn:hover {
  color: #424242;
}
.answer .content  .option-support-text {
  color: #424242;
  font-weight: 300;
  margin: 30px 0px;
}

section{
  padding: 100px;
  box-sizing: border-box;
  height: 100%;
  
}

p{
  margin: 40px 0;
}


/* Buttons */

input{
  display: none;
}
main {
  min-height: 100%;
  position: relative;
  font: 14px/16px "Roboto", sans-serif;
  color: rgba(0, 0, 0, 0.87);
  background-color: #f1f1f1;
}
main::before {
  content: '';
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  /* background: url($mainBgUrl) no-repeat center center; */
  background: #eeeeee;
  background-size: cover;
  will-change: transform;
  z-index: 0;
}


/* Smiley */
.smiley-box {
  position: relative;
  width: auto;
  display: inline-block;
}
.smiley-box .text {
  text-align: center;
  margin-top: 50px;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}
.smiley-box label
{
  background: #FFCD00;
  border: 0;
  color: #B57700;
  width: 100%;
  height: 100px;
  font-size: 18px;
  font-weight: bold;
  border-radius: 100%;
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  position: absolute;
  left: 0px;
  top: 0px;
  opacity: 0;
  z-index: 10;
  margin: 0px;
  padding: 0px;
  cursor: pointer;
}

.smiley
{
  background: linear-gradient(135deg, rgb(255, 233, 25) 0%, rgb(251, 192, 0) 100%);
  border-radius: 100%;
  padding: 25px;
  position: relative;
  width: 100px;
  height: 100px;
  -webkit-transform: translateX(0%) translateY(calc( 0% - 0px));
  -moz-transform: translateX(0%) translateY(calc( 0% - 0px));
  -ms-transform: translateX(0%) translateY(calc( 0% - 0px));
  transform: translateX(0%) translateY(calc( 0% - 0px));
  box-shadow: rgba(211, 165, 110, 0.498039) 0px 30px 30px 1px, rgb(245, 245, 245) 0px 20px 10px 1px;
  margin: 0px 30px;
  display: inline-block;
  cursor: pointer;

}


.mouth
{
  width: 50%;
  height: 25%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-sizing: border-box;
  position: absolute;
  bottom: 18%;
  left: 50%;
  margin-left: -25%;
  background: #B57700;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}


.eyes
{
  width: 100%;
  margin-top: 15%;
  box-sizing: border-box;
  padding: 0 5px;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.eyes .eye
{
  width: 10px;
  height: 10px;
  background: #B57700;
  float: left;
  border-radius: 100%;
  position: relative;
}

.eyes .eye:nth-of-type(2)
{
  float: right;
}

.eyes .eye::after
{
  content: "";
  display: block;
  position: absolute;
  width: 0%;
  height: 0%;
  background: #fed800;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  top: -15px;
  left: 5px;
  transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -moz-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -o-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
  -ms-transition: all 300ms cubic-bezier(0.645, 0.045, 0.355, 1);
}

.eyes .eye:first-of-type::after
{
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  left: auto;
  right: 5px;
}

/* Normal animation */

.smiley.normal .mouth,
#normal[type=radio]:checked ~ .smiley .mouth
{
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  height: 10%;
  width: 40%;
  bottom: 25%;
  margin-left: -20%;
}

.smiley.normal .eyes,
#normal[type=radio]:checked ~ .smiley .eyes
{
  margin-top: 30%
}

/* angry animation */
.smiley.angry .mouth,
#angry[type=radio]:checked ~ .smiley .mouth
{
  width: 40%;
  height: 20%;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  bottom: 18%;
  left: 50%;
  margin-left: -20%;
  border-bottom: 0;
}

.smiley.angry .eyes,
#angry[type=radio]:checked ~ .smiley .eyes
{
  margin-top: 35%
}

.smiley.angry .eye::after,
#angry[type=radio]:checked ~ .smiley .eye::after
{
  width: 120%;
  height: 50%;
  -webkit-transform: rotate(-36deg);
  -moz-transform: rotate(-36deg);
  -ms-transform: rotate(-36deg);
  transform: rotate(-36deg);
  top: 0px;
  left: -5px;
  border-radius: 0;
}

.smiley.angry .eye:first-of-type::after,
#angry[type=radio]:checked ~ .smiley .eye:first-of-type::after
{
  -webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  transform: rotate(36deg);
  left: auto;
  right: -5px;
}

/* sad animation */
.smiley.sad .mouth,
#sad[type=radio]:checked ~ .smiley .mouth
{
  /*width: 40%;
  height: 10%;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  bottom: 25%;
  left: 50%;
  margin-left: -20%;*/
  /*border-bottom: 0;*/
  border: 10px solid #B57700;
  width: 60%;
  min-height: 60%;
  border-radius: 50%;
  border-left-color: transparent;
  border-right-color: transparent;
  background: none;
  border-bottom-color: transparent;
  bottom: -22%;
  left: 50%;
  margin-left: -30%;
}
.smiley.sad .mouth:before,
#sad[type=radio]:checked ~ .smiley .mouth:before {
  content: "";
  width: 10px;
  height: 10px;
  background: #B57700;
  border-radius: 50%;
  position: absolute;
  left: -2px;
  top: -3px;
}
.smiley.sad .mouth:after,
#sad[type=radio]:checked ~ .smiley .mouth:after {
  content: "";
  width: 10px;
  height: 10px;
  background: #B57700;
  border-radius: 50%;
  position: absolute;
  right: -2px;
  top: -3px;
}
/*.smiley.sad .eye .drop,
#sad[type=radio]:checked ~ .smiley .eye .drop {
  background: #81d4fa;
  width: 0%;
  height: 0%;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 100%;
  border-bottom-right-radius: 100%;
  top: 100%;
  left: 0%;
  position: absolute;
  border-radius: 50% 1px 50% 50%;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  z-index: 10;
  }*/
  .smiley.sad .eye .drop,
  #sad[type=radio]:checked ~ .smiley .eye .drop {
    background: #81d4fa;
    width: 0px;
    height: 0px;
    position: absolute;
    border-radius: 0 100% 40% 50% / 0 50% 40% 100%;
    z-index: 10;
    transform-origin: 0% 0%;
    margin-left: 6px;
  }

  .smiley.sad .eyes,
  #sad[type=radio]:checked ~ .smiley .eyes
  {
    margin-top: 30%;
  }

  .smiley.sad .eye::after,
  #sad[type=radio]:checked ~ .smiley .eye::after
  {
  /*width: 120%;
  height: 50%;
  -webkit-transform: rotate(-36deg);
  -moz-transform: rotate(-36deg);
  -ms-transform: rotate(-36deg);
  transform: rotate(-36deg);
  top: 0px;
  left: -5px;
  border-radius: 0;*/
}

.smiley.sad .eye:first-of-type::after,
#sad[type=radio]:checked ~ .smiley .eye:first-of-type::after
{
  /*-webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  transform: rotate(36deg);
  left: auto;
  right: -5px;*/
}


/* Excited animation */
.smiley.excited .mouth,
#excited[type=radio]:checked ~ .smiley .mouth
{
  width: 40%;
  height: 20%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  box-sizing: border-box;
  position: absolute;
  bottom: 18%;
  left: 50%;
  margin-left: -20%;
  background: #B57700;
}

.smiley.excited .eye,
#excited[type=radio]:checked ~ .smiley .eye
{

}
.smiley.excited .star-l,
#excited[type=radio]:checked ~ .smiley .star-l
{
  width: auto;
  height: auto;
  position: absolute;
  left: 3px;
  top: -3px;
}
.smiley.excited .star-r,
#excited[type=radio]:checked ~ .smiley .star-r
{
  width: auto;
  height: auto;
  position: absolute;
  right: 3px;
  top: -3px;
}
.smiley.excited .star-l i, .smiley.excited .star-r i,
#excited[type=radio]:checked ~ .smiley .star-l i, #excited[type=radio]:checked ~ .smiley .star-r i
{
  vertical-align: top;
  border: none;  
  font-size: 15px; 
  background: none;
  color: #f57f17;
  width: auto;
  height: auto;
}

.smiley.excited .eyes,
#excited[type=radio]:checked ~ .smiley .eyes
{
  margin-top: 30%;
  position: relative;
}

.smiley.excited .eye::after,
#excited[type=radio]:checked ~ .smiley .eye::after
{
  /*width: 120%;
  height: 50%;
  -webkit-transform: rotate(-36deg);
  -moz-transform: rotate(-36deg);
  -ms-transform: rotate(-36deg);
  transform: rotate(-36deg);
  top: 0px;
  left: -5px;
  border-radius: 0;*/
}

.smiley.excited .eye:first-of-type::after,
#excited[type=radio]:checked ~ .smiley .eye:first-of-type::after
{
  /*-webkit-transform: rotate(36deg);
  -moz-transform: rotate(36deg);
  -ms-transform: rotate(36deg);
  transform: rotate(36deg);
  left: auto;
  right: -5px;*/
}

/* Furious copy of angry */
.smiley.furious .mouth,
#furious[type=radio]:checked ~ .smiley .mouth
{
  width: 40%;
  height: 20%;
  border-top-left-radius: 100%;
  border-top-right-radius: 100%;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  bottom: 18%;
  left: 50%;
  margin-left: -20%;
  border-bottom: 0;
}

.smiley.furious .eyes,
#furious[type=radio]:checked ~ .smiley .eyes
{
  margin-top: 35%
}

.smiley.furious .eye::after,
#furious[type=radio]:checked ~ .smiley .eye::after
{
  width: 120%;
  height: 50%;
  -webkit-transform: rotate(-35deg);
  -moz-transform: rotate(-35deg);
  -ms-transform: rotate(-35deg);
  transform: rotate(-35deg);
  top: -3px;
  left: -5px;
  border-radius: 0;
}

.smiley.furious .eye:first-of-type::after,
#furious[type=radio]:checked ~ .smiley .eye:first-of-type::after
{
  -webkit-transform: rotate(35deg);
  -moz-transform: rotate(35deg);
  -ms-transform: rotate(35deg);
  transform: rotate(35deg);
  left: auto;
  right: -5px;
}

/* excited */
.smiley.excited .eye,
#excited[type=radio]:checked ~ .smiley .eye
{
  height: 10px;
  -webkit-animation: starfadeout 6s ease-in-out;
  animation: starfadeout 6s ease-in-out;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;  
}
#excited[type=radio]:checked ~ 
.squiggle {
  color: transparent;
}

@keyframes starfadeout 
{
  0%
  { 
    opacity: 1; 
  }

  15%
  {
    opacity: 0.5; 
  }

  30% 
  { 
    opacity: 0; 
  }

  45%
  {
    opacity: 0.2;
  }

  60% 
  { 
    opacity: 0.8; 
  }
  100% 
  { 
    opacity: 1; 
  }
}
.smiley.excited .star-l i, .smiley.excited .star-r i,
#excited[type=radio]:checked ~ .smiley .star-l i, #excited[type=radio]:checked ~ .smiley .star-r i
{
  vertical-align: top;
  border: none;  
  font-size: 15px; 
  background: none;
  color: #f57f17;
  width: 15px;
  height: 15px;
  margin-top: 0;
  opacity: 0;
  -webkit-animation: starfadein 6s ease-in-out;
  animation: starfadein 6s ease-in-out;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@keyframes starfadein 
{
  0%
  { 
    opacity: 0; 
    transform: scale(.9);
    transform-origin: center;
  }

  15%
  {
    opacity: 0.5; 
    transform: scale(.9);
    transform-origin: center;
  }

  30% 
  { 
    opacity: 1; 
    transform: scale(1.8);
    transform-origin: center;
  }

  45%
  {
    opacity: 1;
    transform: scale(.9);
    transform-origin: center;
  }

  60% 
  { 
    opacity: 0.8; 
    transform: scale(1.8);
    transform-origin: center;
  }
  100% 
  { 
    opacity: 0; 
    transform: scale(.9);
    transform-origin: center;
  }
}
.smiley.excited .mouth,
#excited[type=radio]:checked ~ .smiley .mouth
{
  -webkit-animation: mouthmove 6s;
  animation: mouthmove 6s;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@keyframes mouthmove 
{
  0% {
    transform: rotateZ(-10deg);
    transform-origin: center top;
  }
  50%{
    transform: rotateZ(10deg);
    transform-origin: center top;
  }
  100%{
    transform: rotateZ(-10deg);
    transform-origin: center top;
  }
}

/* sad */
.smiley.sad .eye,
#sad[type=radio]:checked ~ .smiley .eye
{
  height: 10px;
  margin-top: 0;
  -webkit-animation: blink 6s;
  animation: blink 6s;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;  
}
#sad[type=radio]:checked ~ 
.squiggle {
  color: transparent;
}

@keyframes blink 
{
  0%
  { 
    height: 10px;
    margin-top: 0; 
  }

  3.25%
  {
    height: 2px;
    margin-top: 8px; 
  }

  6.5% 
  { 
    height: 10px;
    margin-top: 0; 
  }

  9.75%
  {
    height: 2px;
    margin-top: 8px; 
  }

  13% 
  { 
    height: 10px;
    margin-top: 0; 
  }
  100% 
  { 
    height: 10px;
    margin-top: 0; 
  }
}

.smiley.sad .eye .drop,
#sad[type=radio]:checked ~ .smiley .eye .drop
{
  /*height: 10px;*/
  margin-top: 0;
  -webkit-animation: noblink 6s;
  animation: noblink 6s;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@keyframes noblink 
{
  0%
  { 
    height: 10px;
    margin-top: 0; 
  }

  3.25%
  {
    height: 10px;
    margin-top: 0; 
  }

  6.5% 
  { 
    height: 10px;
    margin-top: 0; 
  }

  9.75%
  {
    height: 10px;
    margin-top: 0; 
  }

  13% 
  { 
    height: 10px;
    margin-top: 0; 
  }
  100% 
  { 
    height: 10px;
    margin-top: 0; 
  }
}
.smiley.sad .eye .drop,
#sad[type=radio]:checked ~ .smiley .eye .drop
{
  -webkit-animation: drip 6s ease-in;
  animation: drip 6s ease-in;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@-webkit-keyframes drip {
  0%, 100% 
  {
    display:block; 
    left: -5px; 
    top: 10px; 
    transform: rotate(45deg) scale(0);
    width: 12px;
    height: 12px;
  }
  25% 
  {
    display:block; 
    left: -5px; 
    transform: rotate(45deg) scale(1.2);
    width: 12px;
    height: 12px;
  }
  49.9% 
  {
    display:block; 
    left: -5px; 
    top: 40px; 
    transform: rotate(45deg) scale(0);
    width: 12px;
    height: 12px;
  }
  50% 
  {
    display:block; 
    left: -5px; 
    top: 10px; 
    transform: rotate(45deg) scale(0);
    width: 12px;
    height: 12px;
  }
  75% 
  {
    display:block; 
    left: -5px; 
    transform: rotate(45deg) scale(1.2);
    width: 12px;
    height: 12px;
  }
  99.9% 
  {
    display:block; 
    left: -5px; 
    top: 40px; 
    transform: rotate(45deg) scale(0);
    width: 12px;
    height: 12px;
  }
}
.smiley.sad .mouth,
#sad[type=radio]:checked ~ .smiley .mouth
{
  -webkit-animation: sad-mouth-down 6s;
  animation: sad-mouth-down 6s;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}
@keyframes sad-mouth-down 
{
  0%
  { 
    bottom: -22%;
  }

  4.55%
  {
    bottom: -24%; 
  }

  8.45%
  {
    bottom: -24%; 
  }
  
  13% 
  { 
    bottom: -22%;
  }
  100% 
  { 
    bottom: -22%;
  }
}



/* happy */

.smiley.happy .mouth,
#happy[type=radio]:checked ~ .smiley .mouth
{
  -webkit-animation: move-mouth-down 6s;
  animation: move-mouth-down 6s;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


@keyframes move-mouth-down 
{
  0%
  { 
    bottom: 18%;
  }

  4.55%
  {
    bottom: 16%; 
  }

  8.45%
  {
    bottom: 16%; 
  }
  
  13% 
  { 
    bottom: 18%;
  }
  100% 
  { 
    bottom: 18%;
  }
}


.smiley.happy .eyes,
#happy[type=radio]:checked ~ .smiley .eyes
{
  -webkit-animation: move-eyes-down 6s;
  animation: move-eyes-down 6s;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


@keyframes move-eyes-down 
{
  0%
  { 
    margin-top: 15%;
  }

  4.55%
  {
    margin-top: 19%; 
  }

  8.45%
  {
    margin-top: 19%;
  }
  
  13%
  { 
    margin-top: 15%;
  }

  100%
  { 
    margin-top: 15%;
  }

}

.smiley.happy .eye:nth-of-type(2),
#happy[type=radio]:checked ~ .smiley .eye:nth-of-type(2)
{
  height: 10px;
  margin-top: 0;
  -webkit-animation: wink 6s;
  animation: wink 6s;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}


@keyframes wink 
{
  0%
  { 
   height: 10px;
   margin-top: 0; 
 }

 3.9%
 {
  height: 3px;
  margin-top: 8px; 
}

9.1%
{
  height: 3px;
  margin-top: 8px; 
}

13% 
{ 
  height: 10px;
  margin-top: 0; 
}

100% 
{ 
  height: 10px;
  margin-top: 0; 
}
}



/* normal */
.smiley.normal .eye,
#normal[type=radio]:checked ~ .smiley .eye
{
  height: 10px;
  margin-top: 0;
  -webkit-animation: blink 6s;
  animation: blink 6s;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;  
}
#normal[type=radio]:checked ~ 
.squiggle {
  color: transparent;
}

@keyframes blink 
{
  0%
  { 
    height: 10px;
    margin-top: 0; 
  }

  3.25%
  {
    height: 2px;
    margin-top: 8px; 
  }

  6.5% 
  { 
    height: 10px;
    margin-top: 0; 
  }

  9.75%
  {
    height: 2px;
    margin-top: 8px; 
  }

  13% 
  { 
    height: 10px;
    margin-top: 0; 
  }
  100% 
  { 
    height: 10px;
    margin-top: 0; 
  }
}

/* angry */
.smiley.angry .eyes,
.smiley.angry .mouth,
#angry[type=radio]:checked ~ .smiley .eyes,
#angry[type=radio]:checked ~ .smiley .mouth
{
  -webkit-animation: move-angry-head 6s;
  animation: move-angry-head 6s;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}




@keyframes move-angry-head 
{
  0%
  { 
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }

  2.6%
  {
    -webkit-transform: translateX(-20%);
    -moz-transform: translateX(-20%);
    -ms-transform: translateX(-20%);
    transform: translateX(-20%);
  }

  5.2% 
  { 
    -webkit-transform: translateX(15%);
    -moz-transform: translateX(15%);
    -ms-transform: translateX(15%);
    transform: translateX(15%);
  }

  7.8%
  {
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    transform: translateX(-10%);
  }

  10.4% 
  { 
    -webkit-transform: translateX(5%);
    -moz-transform: translateX(5%);
    -ms-transform: translateX(5%);
    transform: translateX(5%);
  }

  13%
  {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
  100%
  {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
}

/* Furious */

.smiley.furious .eyes,
.smiley.furious .mouth,
#furious[type=radio]:checked ~ .smiley .eyes,
#furious[type=radio]:checked ~ .smiley .mouth
{
  -webkit-animation: move-angry-head 6s;
  animation: move-angry-head 6s;
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

#furious[type=radio]:checked ~  
.smiley .steam-container {
  display: block;
}

@keyframes move-angry-head 
{
  0%
  { 
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }

  2.6%
  {
    -webkit-transform: translateX(-20%);
    -moz-transform: translateX(-20%);
    -ms-transform: translateX(-20%);
    transform: translateX(-20%);
  }

  5.2% 
  { 
    -webkit-transform: translateX(15%);
    -moz-transform: translateX(15%);
    -ms-transform: translateX(15%);
    transform: translateX(15%);
  }

  7.8%
  {
    -webkit-transform: translateX(-10%);
    -moz-transform: translateX(-10%);
    -ms-transform: translateX(-10%);
    transform: translateX(-10%);
  }

  10.4% 
  { 
    -webkit-transform: translateX(5%);
    -moz-transform: translateX(5%);
    -ms-transform: translateX(5%);
    transform: translateX(5%);
  }

  13%
  {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
  100%
  {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    transform: translateX(0%);
  }
}


/* STEAM */
.steam-container {
  position: relative;
  width: 100px;
  height: 0px;
  top: -40px;
  display: none;
  text-align: center;
}

.squiggle-container {
  width: 10px;
  height: 30px;
  display: inline-block;
}

.squiggle-container-1 {
  -webkit-transform: translate(-10px, 20px);
  -moz-transform: translate(-10px, 20px);
  -ms-transform: translate(-10px, 20px);
  transform: translate(-10px, 20px);

}
.squiggle-container-1 .squiggle {
  -webkit-animation: move-and-fade 2.5s linear infinite;
  animation: move-and-fade 2.5s linear infinite;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  width: 10px;
}
@keyframes move-and-fade {
  0% {
    opacity: 0;
    -webkit-transform: translate(0, 10px);
    -moz-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    transform: translate(0, 10px);
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(100px);
    -moz-transform: translateY(100px);
    -ms-transform: translateY(100px);
    transform: translateY(100px);
    opacity: 0;
  }
}
.squiggle-container-2 {
  -webkit-transform: translateY(10px);
  -moz-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
}
.squiggle-container-2 .squiggle {
  -webkit-animation: move-and-fade 2.5s linear infinite;
  animation: move-and-fade 2.5s linear infinite;
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
  width: 10px;
}
@keyframes move-and-fade {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -moz-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
    opacity: 0;
  }
}
.squiggle-container-3 {
  -webkit-transform: translate(10px, 20px);
  -moz-transform: translate(10px, 20px);
  -ms-transform: translate(10px, 20px);
  transform: translate(10px, 20px);
}
.squiggle-container-3 .squiggle {
  -webkit-animation: move-and-fade 2.5s linear infinite;
  animation: move-and-fade 2.5s linear infinite;
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
  width: 10px;
}
@keyframes move-and-fade {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
  50% {
    opacity: 1;
  }
  75% {
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
    opacity: 0;
  }
}
.squiggle {
  stroke-dasharray: 100;
}
.squiggle path {
  stroke: #fc635d;
}

@keyframes dash {
  0% {
    stroke-dashoffset: 1000;
  }
  50% {
    stroke-dashoffset: 500;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

/*CSS for over due*/

.question-section {
  position: relative;
  margin: 0px auto 0px auto;
  padding: 20px 0px;
  width: 100%;
  background: #e5f3f5;
  /*border: 1px solid rgba(0,0,0,0.1);*/
  height: auto;
  min-height: 100vh;
  .vibe-comment {
    margin: 0px auto;
    padding: 0px;
    width: 50%;
    .title {
      color: #03a9f4;
      width: 100%;
      position: relative;
      text-align: center;
      font-size: 40px;
      margin: 10px 0px 10px 0px;
    }
    .form-control:focus {
      background: rgba(255, 255, 255, 1);
    }
    .thank-u-msg {
      position: relative;
      width: 100%;
      text-align: center;
      color: #03a9f4;
      font-size: 40px;
      line-height: 40px;
      margin-top: 100px;
      font-weight: 600;
      span {
        font-size: 30px;
        color: #424242;
        font-weight: 400;
      }
    }
  }
}

.sa {
  width: 140px;
  height: 140px;
  padding: 26px;
  margin: auto;
  &-warning {
    border-radius: 50%;
    border: 4px solid #D50000;
    box-sizing: content-box;
    height: 80px;
    padding: 0;
    position: relative;
    background-color: #fff;
    width: 80px;
    -webkit-animation: scaleWarning 0.75s infinite alternate;
    animation: scaleWarning 0.75s infinite alternate;
    &:after,
    &:before {
      background: #fff;
      content: '';
      border-radius: 50%;
      height: 100%;
      position: absolute;
      width: 100%;
    }
    &:before {
      display: inline-block;
      opacity: 0;
      -webkit-animation: pulseWarning 2s linear infinite;
      animation: pulseWarning 2s linear infinite;
      left: 0px;
      position: absolute;
    }
    &:after {
      display: block;
      z-index: 1;
    }
    &-body {
      background-color: #D50000;
      border-radius: 2px;
      height: 47px;
      left: 50%;
      margin-left: -2px;
      position: absolute;
      bottom: 10px;
      width: 5px;
      z-index: 2;
      -webkit-animation: pulseWarningIns 0.75s infinite alternate;
      animation: pulseWarningIns 0.75s infinite alternate;
    }
    &-dot {
      background-color: #D50000;
      border-radius: 50%;
      top: 10px;
      height: 7px;
      left: 50%;
      margin-left: -3px;
      position: absolute;
      width: 7px;
      z-index: 2;
      -webkit-animation: pulseWarningIns 0.75s infinite alternate;
      animation: pulseWarningIns 0.75s infinite alternate;
    }
  }
}