<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="Sproutlogix">
  <meta name="keywords" content="Actionable insights, Predictive People strategy, prescriptive analytics, analytics driven, talent transformation, performance management, continuous feedback, psychometrics assessment, self assessment, transformative business simulations, dynamic evaluation, workplace collaboration, employee pulse check, disruptive thinking, hiring, retaining, recruiting, testing organization’s engagement,  powerful insights , organizational culture, employee engagement">

  <meta name="theme-color" content="#2361eb" />
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&amp;subset=cyrillic,greek" rel="stylesheet">
  <link rel="icon" href="assets/favicon.ico">
  <title>Sproutlogix</title>

  <!-- Bootstrap CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="css/bootstrap-grid.min.css" rel="stylesheet">
  <link href="fonts/avenir/stylesheet.css" rel="stylesheet">
  <link href="fonts/roboto/stylesheet.css" rel="stylesheet">
  <link href="fonts/ionicons/css/ionicons.css" rel="stylesheet">
  <link href="fonts/font-awesome/css/font-awesome.css" rel="stylesheet">
  <link href="css/style.css?v1.0" rel="stylesheet">
  <link href="css/all-vibe.css" rel="stylesheet">

  <!-- <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-101412434-1', 'auto');
  ga('send', 'pageview');
  </script> -->

  <!-- Hotjar Tracking Code for www.cavantics.com -->
  <!-- <script>
  (function(h,o,t,j,a,r){
    h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
    h._hjSettings={hjid:594394,hjsv:5};
    a=o.getElementsByTagName('head')[0];
    r=o.createElement('script');r.async=1;
    r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
    a.appendChild(r);
  })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
  </script> -->
</head>
<body class="dashboard">
  <section>
    <div class="al-sidebar">
      <div class="slimScrollDiv">
        <ul class="al-sidebar-list">
          <li class="al-sidebar-list-item with-sub-menu">
            <a href="" class="al-sidebar-list-link">
              <i class="ion-clipboard"></i>
              <span>Eval</span>
            </a>
          </li>
          <li class="al-sidebar-list-item with-sub-menu">
            <a href="" class="al-sidebar-list-link">
              <i class="ion-link"></i>
              <span>Loop</span>
            </a>
          </li>
          <li class="al-sidebar-list-item with-sub-menu">
            <a href="" class="al-sidebar-list-link">
              <i class="ion-ios-pulse-strong"></i>
              <span>Vibe</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <section class="top-bar">
      <nav class="navbar navbar-toggleable-md navbar-light">
        <a class="navbar-brand" href="index.html">
          <img src="assets/SL-logo.png" class="d-inline-block align-top" alt="">
        </a>
        <div class="user-profile">
          <span>Chinmayee Giri</span><img src="assets/null.png" class="d-inline-block align-top" alt="">
        </div>
      </nav>
  </section>
  <div class="al-main">
  <div class="al-content">


    <router-outlet></router-outlet><activity-vibe _nghost-c7="">
<ngx-bootstrap-product-tour _ngcontent-c7="" _nghost-c3="">
    <!--bindings={
  "ng-reflect-ng-if": null
}-->
    <!---->
  </ngx-bootstrap-product-tour>
<router-outlet _ngcontent-c7=""></router-outlet><activity-vibe-list _nghost-c8=""><div class="card no-box-shadow">
  <div class="card-body">
    <div class="row pull-right create-vibe-btn" onclick="openPage('create-vibe.html')">
      <button class="btn btn-primary btn-sm" touranchor="start.vibeTour" ng-reflect-tour-anchor="start.vibeTour">
        <i class="icon ion-plus"></i>Create Vibe</button>
    </div>
    <div class="card-control">
      <!--bindings={
  "ng-reflect-ng-for-of": "[object Object],[object Object"
}--><div class="av-card">
        <div class="card">
          <div class="card-block">
            
            <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="status-private">PRIVATE</div>
            <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
            <div class="heading">
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="title" title="Simulation Workshop Session">
                Simulation Workshop Session
              </div>
              <div class="sub-title hide-on-hover">
                <span>Start date: 2/2/2018, 3:45 PM</span><span>End date: 2/3/2018, 4:00 PM</span>
              </div>
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="sub-title show-on-hover desc" title="How did you feel about Simulation Workshop Session with the Coaches today?">
                <span title="How did you feel about Simulation Workshop Session with the Coaches today?">How did you feel about Simulation Workshop Session with the Coaches to..</span>
              </div>
            </div>
            <ul class="hide-on-hover data">
              
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><li>
                <span>0/10</span> Responses
              </li>
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
            </ul>
            <ul class="show-on-hover action">
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><li>
                
                <span><i class="fa fa-envelope"></i></span> Invite
              </li>
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <li>
                
                <span><i class="fa fa-line-chart"></i></span> Graph
              </li>
            </ul>
          </div>
        </div>
      </div><div class="av-card">
        <div class="card">
          <div class="card-block">
            
            <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="status-private">PRIVATE</div>
            <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
            <div class="heading">
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="title" title="Impact of self assessment">
                Impact of self assessment
              </div>
              <div class="sub-title hide-on-hover">
                <span>Start date: 1/31/2018, 10:30 PM</span><span>End date: 2/2/2018, 5:30 AM</span>
              </div>
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="sub-title show-on-hover desc" title="Curated Content Vibe">
                <span title="Curated Content Vibe">Curated Content Vibe</span>
              </div>
            </div>
            <ul class="hide-on-hover data">
              
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><li>
                <span>0/10</span> Responses
              </li>
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
            </ul>
            <ul class="show-on-hover action">
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><li>
                
                <span><i class="fa fa-envelope"></i></span> Invite
              </li>
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <li>
                
                <span><i class="fa fa-line-chart"></i></span> Graph
              </li>
            </ul>
          </div>
        </div>
      </div><div class="av-card">
        <div class="card">
          <div class="card-block">
            
            <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
            <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="status-public">PUBLIC</div>
            <div class="heading">
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="title" title="Onboarding flow">
                Onboarding flow
              </div>
              <div class="sub-title hide-on-hover">
                <span>Start date: 1/31/2018, 9:15 PM</span><span>End date: 2/1/2018, 9:30 PM</span>
              </div>
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="sub-title show-on-hover desc" title="How do you like the new onboarding tour?">
                <span title="How do you like the new onboarding tour?">How do you like the new onboarding tour?</span>
              </div>
            </div>
            <ul class="hide-on-hover data">
              
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><li>
                <span>0</span> Responses
              </li>
            </ul>
            <ul class="show-on-hover action">
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><li>
                
                <span><i class="fa fa-link"></i></span> Url
              </li>
              <li>
                
                <span><i class="fa fa-line-chart"></i></span> Graph
              </li>
            </ul>
          </div>
        </div>
      </div><div class="av-card">
        <div class="card">
          <div class="card-block">
            
            <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="status-private">PRIVATE</div>
            <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
            <div class="heading">
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="title" title="Chocolate cake ">
                Chocolate cake 
              </div>
              <div class="sub-title hide-on-hover">
                <span>Start date: 1/31/2018, 3:51 PM</span><span>End date: 2/1/2018, 4:06 PM</span>
              </div>
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="sub-title show-on-hover desc" title="How was Ands’ cake ?">
                <span title="How was Ands’ cake ?">How was Ands’ cake ?</span>
              </div>
            </div>
            <ul class="hide-on-hover data">
              
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><li>
                <span>0/10</span> Responses
              </li>
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
            </ul>
            <ul class="show-on-hover action">
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><li>
                
                <span><i class="fa fa-envelope"></i></span> Invite
              </li>
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <li>
                
                <span><i class="fa fa-line-chart"></i></span> Graph
              </li>
            </ul>
          </div>
        </div>
      </div><div class="av-card">
        <div class="card">
          <div class="card-block">
            
            <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="status-private">PRIVATE</div>
            <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
            <div class="heading">
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="title" title="AIG session 1">
                AIG session 1
              </div>
              <div class="sub-title hide-on-hover">
                <span>Start date: 1/31/2018, 2:40 PM</span><span>End date: 1/31/2018, 2:55 PM</span>
              </div>
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="sub-title show-on-hover desc" title="What did you have for lunch ?
">
                <span title="What did you have for lunch ?
">What did you have for lunch ?
</span>
              </div>
            </div>
            <ul class="hide-on-hover data">
              
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><li>
                <span>0/10</span> Responses
              </li>
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
            </ul>
            <ul class="show-on-hover action">
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><li>
                
                <span><i class="fa fa-envelope"></i></span> Invite
              </li>
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <li>
                
                <span><i class="fa fa-line-chart"></i></span> Graph
              </li>
            </ul>
          </div>
        </div>
      </div><div class="av-card">
        <div class="card">
          <div class="card-block">
            
            <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="status-private">PRIVATE</div>
            <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
            <div class="heading">
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="title" title="Simulation Workshop Session">
                Simulation Workshop Session
              </div>
              <div class="sub-title hide-on-hover">
                <span>Start date: 1/30/2018, 3:50 PM</span><span>End date: 2/1/2018, 6:00 PM</span>
              </div>
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="sub-title show-on-hover desc" title="How did you feel about Simulation Workshop Session with the Coaches today?">
                <span title="How did you feel about Simulation Workshop Session with the Coaches today?">How did you feel about Simulation Workshop Session with the Coaches to..</span>
              </div>
            </div>
            <ul class="hide-on-hover data">
              
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><li>
                <span>0/10</span> Responses
              </li>
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
            </ul>
            <ul class="show-on-hover action">
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><li>
                
                <span><i class="fa fa-envelope"></i></span> Invite
              </li>
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <li>
                
                <span><i class="fa fa-line-chart"></i></span> Graph
              </li>
            </ul>
          </div>
        </div>
      </div><div class="av-card">
        <div class="card">
          <div class="card-block">
            
            <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
            <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="status-public">PUBLIC</div>
            <div class="heading">
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="title" title="Feedback on the training ">
                Feedback on the training 
              </div>
              <div class="sub-title hide-on-hover">
                <span>Start date: 1/22/2018, 2:21 PM</span><span>End date: 1/31/2018, 2:36 PM</span>
              </div>
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="sub-title show-on-hover desc" title="How did you feel about the recent training done on QA automation?">
                <span title="How did you feel about the recent training done on QA automation?">How did you feel about the recent training done on QA automation?</span>
              </div>
            </div>
            <ul class="hide-on-hover data">
              
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><li>
                <span>0</span> Responses
              </li>
            </ul>
            <ul class="show-on-hover action">
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><li>
                
                <span><i class="fa fa-link"></i></span> Url
              </li>
              <li>
                
                <span><i class="fa fa-line-chart"></i></span> Graph
              </li>
            </ul>
          </div>
        </div>
      </div><div class="av-card">
        <div class="card">
          <div class="card-block">
            
            <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="status-private">PRIVATE</div>
            <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
            <div class="heading">
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="title" title="CS Boost Intake Session">
                CS Boost Intake Session
              </div>
              <div class="sub-title hide-on-hover">
                <span>Start date: 1/19/2018, 7:30 PM</span><span>End date: 1/21/2018, 7:30 PM</span>
              </div>
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="sub-title show-on-hover desc" title="How did you feel about Intake Session Interview with Facilitators today?">
                <span title="How did you feel about Intake Session Interview with Facilitators today?">How did you feel about Intake Session Interview with Facilitators toda..</span>
              </div>
            </div>
            <ul class="hide-on-hover data">
              
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><li>
                <span>0/10</span> Responses
              </li>
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
            </ul>
            <ul class="show-on-hover action">
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><li>
                
                <span><i class="fa fa-envelope"></i></span> Invite
              </li>
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <li>
                
                <span><i class="fa fa-line-chart"></i></span> Graph
              </li>
            </ul>
          </div>
        </div>
      </div><div class="av-card">
        <div class="card">
          <div class="card-block">
            
            <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="status-private">PRIVATE</div>
            <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
            <div class="heading">
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="title" title="Feedback on the NEW handpicked video on Loop">
                Feedback on the NEW handpicked video on Loop
              </div>
              <div class="sub-title hide-on-hover">
                <span>Start date: 1/19/2018, 3:17 PM</span><span>End date: 1/26/2018, 11:32 PM</span>
              </div>
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="sub-title show-on-hover desc" title="How did you feel about the Handpicked video given to you this week on Loop?">
                <span title="How did you feel about the Handpicked video given to you this week on Loop?">How did you feel about the Handpicked video given to you this week on ..</span>
              </div>
            </div>
            <ul class="hide-on-hover data">
              
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><li>
                <span>0/10</span> Responses
              </li>
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
            </ul>
            <ul class="show-on-hover action">
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><li>
                
                <span><i class="fa fa-envelope"></i></span> Invite
              </li>
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <li>
                
                <span><i class="fa fa-line-chart"></i></span> Graph
              </li>
            </ul>
          </div>
        </div>
      </div><div class="av-card">
        <div class="card">
          <div class="card-block">
            
            <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="status-private">PRIVATE</div>
            <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
            <div class="heading">
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="title" title="CS Boost Intake Session">
                CS Boost Intake Session
              </div>
              <div class="sub-title hide-on-hover">
                <span>Start date: 1/18/2018, 7:30 PM</span><span>End date: 1/19/2018, 7:30 PM</span>
              </div>
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><div class="sub-title show-on-hover desc" title="How did you feel about Intake Session Interview with Facilitators today?">
                <span title="How did you feel about Intake Session Interview with Facilitators today?">How did you feel about Intake Session Interview with Facilitators toda..</span>
              </div>
            </div>
            <ul class="hide-on-hover data">
              
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><li>
                <span>0/10</span> Responses
              </li>
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
            </ul>
            <ul class="show-on-hover action">
              <!--bindings={
  "ng-reflect-ng-if": "true"
}--><li>
                
                <span><i class="fa fa-envelope"></i></span> Invite
              </li>
              <!--bindings={
  "ng-reflect-ng-if": "false"
}-->
              <li>
                
                <span><i class="fa fa-line-chart"></i></span> Graph
              </li>
            </ul>
          </div>
        </div>
      </div>
      
      
      <pagination class="pagination-sm pull-left width-100 ng-untouched ng-valid ng-dirty" ng-reflect-max-size="5" ng-reflect-boundary-links="true" ng-reflect-rotate="false" ng-reflect-items-per-page="10" ng-reflect-total-items="100" ng-reflect-model="1">
  <ul class="pagination pagination-sm pull-left width-100" ng-reflect-klass="pagination" ng-reflect-ng-class="pagination-sm pull-left width-">
    <!--bindings={
  "ng-reflect-ng-if": "true"
}--><li class="pagination-first page-item disabled">
      <a class="page-link" href=""></a>
    </li>

    <!--bindings={}-->

    <!--bindings={
  "ng-reflect-ng-for-of": "[object Object],[object Object"
}--><li class="pagination-page page-item active">
      <a class="page-link" href="">1</a>
    </li><li class="pagination-page page-item">
      <a class="page-link" href="">2</a>
    </li><li class="pagination-page page-item">
      <a class="page-link" href="">3</a>
    </li><li class="pagination-page page-item">
      <a class="page-link" href="">4</a>
    </li><li class="pagination-page page-item">
      <a class="page-link" href="">5</a>
    </li><li class="pagination-page page-item">
      <a class="page-link" href="">...</a>
    </li>

    <!--bindings={}-->

    <!--bindings={
  "ng-reflect-ng-if": "true"
}--><li class="pagination-last page-item">
      <a class="page-link" href=""></a></li>
  </ul>
  </pagination>
      
    </div>
    
  </div>
</div>
</activity-vibe-list>
</activity-vibe>
    <ngx-bootstrap-product-tour _nghost-c3="">
    <!--bindings={
  "ng-reflect-ng-if": null
}-->
    <!---->
  </ngx-bootstrap-product-tour>
  </div>
</div>
  <!-- <footer class="sub-footer bg-dark">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <p>&copy; 2018 Sproutlogix Pvt. Ltd. | All rights reserved</p>
        </div>
      </div>
    </div>
  </footer> -->
  <!-- End: Footer -->


  <!-- jQuery first, then Tether, then Bootstrap JS. -->
  <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
  <script src="js/bootstrap.min.js"></script>   
  <script src="js/custom.js"></script>

  <!--Start of Tawk.to Script-->
  <!-- <script type="text/javascript">
  var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
  (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/599407ef1b1bed47ceb04e3e/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
  })();
  </script> -->
  <!--End of Tawk.to Script-->
</body>
</html>